html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Noto Sans TC;
    word-wrap: break-word;
    flex-direction: column;
    overflow: inherit;
}
#headers {
    background-color: #264653;
}
#addProductButton {
    background-color: #e76f51;
    font-size: 18px;
}
img {
    max-width: 100%;
}
