html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Noto Sans TC;
    word-wrap: break-word;
    flex-direction: column;
    overflow: inherit;
    font-size: 18px;
    font-weight: bolder;
}
#headers {
    background-color: #264653;
}
.btn__badge {
    background: #e63946;
    color: white;
    font-size: 10px;
    position: relative;
    padding: 2px 6px;
    top: -18px;
    right: 13px;
    border-radius: 13px;
}
#shopping-cart {
    cursor: pointer;
}
table {
    font-size: 18px;
}
a,
a:link,
a:visited {
    text-decoration: none;
}
.list-group-item{
    background-color:transparent;
}
